/* Global */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #ffd438;
    padding-bottom: 15px;
}

h1, h2, h3 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3 {
    color: #183a3a;
}

/* Header */

header {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    background-size: cover;
    color: white;
    height: 40%;
}

nav {
    padding-top: 6px;
    transition: min-height .8s ease-in-out;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 10pt;
}

nav ul li a:hover {
    color: #ffd438;
}

.nav-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 10px;
}

.logo {
    padding-top: 10px;
}

.logo img {
    width: 275px;
}

.hero-banner {
    padding: 100px 0;
    text-align: center;
}

.hero-banner p {
    padding-bottom: 25px;
}

.hero-banner a {
    color: black;
    background-color: #ffd438;
    padding: 10px;
    border-radius: 4px;
}

#checkbox, #menu-icon {
    display: none;
    top: -20px;
    right: -20px;
}

.menu-wrap {
    text-align: right;
}

/* Greeting */

.greeting {
    background-color: #183a3a;
    padding: 40px 0;
    text-align: center;
}

.greeting p {
    color: white;
}

.greeting h2 {
    color: #ffd438;
}

.projects-title {
    padding-top: 40px;
    text-align: center;
}

/* Services */

.services {
    padding: 40px 70px;
    text-align: center;
}

.services h2, .services p {
    color: #183a3a;
}

.services img {
    width: 150px;
}

.services h2 {
    padding-top: 10px;
}

.grid-item {
    padding: 10px 0;
}

.grid-item h2 {
    padding: 5px 0;
}

/* Media */

.media {
    background-color: whitesmoke;
    padding: 40px 0;
    text-align: center;
}

.media-description h3 {
    padding-bottom: 15px;
}

.media a {
    color: black;
    background-color: #ffd438;
    padding: 10px;
    border-radius: 4px;
}

.media-item img {
    width: 100%;
}

.media p {
    color: #183a3a;
}

.media-item h3 {
    padding-top: 10px;
}

.media-item {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 40px;
}

/* Projects */

.projects {
    padding-bottom: 40px;
    background-image: url(../img/marble.jpg);
    background-repeat: none;
    background-size: cover;
    }

.project-grid {
    padding: 30px 60px;
}

.project-item img {
    width: 100%;
    text-align: center;
}

/* Footer */

.footer {
    background-color: #ffd438;
    padding: 40px 0;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a, .footer h2 {
    color: #183a3a;
}

.footer ul li, .footer h2 {
    text-align: center;
}

.footer h2 {
    padding-bottom: 10px;
}

.copyright {
    background-color: #183a3a;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #ffd438;
    font-size: 8pt;
}

/* Queries */

@media screen and (min-width: 1000px) {

    .logo img {
        width: 350px;
    }    

    .grid-item h2 {
        padding-bottom: 8px;
    }

    .hero-banner {
        padding: 170px 0;
        padding-right: 400px;
        text-align: left;
    }
    
    .greeting {
        text-align: left;
    }

    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        text-align: center;
        padding: 0 50px;
    }
    
    .projects-title {
        text-align: left;
    }    

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        column-gap: 0;
        min-width: 100%;
        margin: 0;
        padding: 40px 0;
        padding-bottom: 0;
    }
    
    .project-item {
        margin: 0;
        padding: 0;
    }

    .project-item img {
        width: 300px;
    }

    .media-title {
        text-align: left;
    }    

    .media-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
        padding: 10px 0;
        text-align: left;
    }

    .footer ul li {
        display: inline;
        padding: 10px 10px 0 0;

    }
    
    .footer ul {
        text-align: center;
    }
    

}

@media screen and (max-width: 800px) {
    
        /* ---Hamburger--- */

        #menu-icon {
            font-size: 2em;
            display: block;
            position: absolute;
            top: 15px;
            right: 50px;
        }

        #menu-icon:hover {
            color: #ffd438;
        }

        #checkbox {
            display: none;
        }

        #checkbox:checked ~ nav ul {
            max-height: 11em;
        }

        nav {
            position: absolute;
            top: 0em;
            right: 0em;
            padding-top: 5px;
            padding-right: 5px;
        }

        .menu-wrap {
            width: 100%;
            height: 3em;
        }

        nav ul {
            overflow: hidden;
            max-height: 0em;
            transition: max-height .8s ease-out;
            position: absolute;
            top: 45px;
            right: 50px;
            text-align: right;

        }

        nav ul li {
            display: block;
        }

        /* ----- */

    
}

@media screen and (max-width: 400px) {

    .logo img {
        width: 200px;
        padding-top: 5px;
    }

}